@{
    ViewData["Title"] = "Eric Spoerner - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Eric is learning how to <a href="https://docs.microsoft.com/aspnet/core">build Web apps with ASP.NET Core and host on AWS</a>.</p>
</div>
